$true-font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

.shipping_div {
    // border: solid black .5px;
    height: 100vh;
    text-align: center;
    font-family: $true-font;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.shipping_h1 {
    // border: solid red .5px;
    text-transform: uppercase;
    font-size: 55px;
    font-family: 'Cambay';
    // -webkit-box-shadow: 0px 15px 10px -11px rgba(0,0,0,0.75); 
    // box-shadow: 0px 15px 10px -11px rgba(0,0,0,0.75);
    // background: none;
    // margin-bottom: 10;
    // padding: 0;
}

.fullInfo_div {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	// justify-content: space-between;
	// align-items: center;
	align-content: stretch;
    // border: solid red .5px;
    width: 52%;
    // -webkit-box-shadow: 1px 2px 19px -2px rgba(0,0,0,0.5); 
    // box-shadow: 1px 2px 19px -2px rgba(0,0,0,0.5);
    // border-radius: 2px;
}

.fullInfo_div label {
    // border: solid blue .5px;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 22px;
    text-transform: capitalize;
}

label span {
    margin: 5px;
    padding: 5px;
}

input {
    margin: 5px;
    padding: 5px;
    // border: solid black .5px;
}

.shipping_label {
    font-size: 22px;
    width: 100%;
}

.city_label {
    width: 200px;
}

.city_label input {
    width: 180px;
}

.state_label {
    width: 80px;
}
 
.state_label input {
    width: 60px;
}

.zip_label {
    width: 250px;
    // border: solid black .5px;
}

.zip_label input {
    width: 200px;
}

.country_label input {
    width: 180px;
}

.btn_div {
    // border: solid red .5px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
}

button {
    // border: solid blue .5px;
    background: none;
    padding: 5px;
    margin: 5px;
    width: 75px;
    background: rgb(109,188,235);
    background: -moz-linear-gradient(top, rgba(109,188,235,1) 0%, rgba(52,163,228,1) 50%, rgba(13,148,224,1) 100%);
    background: -webkit-linear-gradient(top, rgba(109,188,235,1) 0%,rgba(52,163,228,1) 50%,rgba(13,148,224,1) 100%);
    background: linear-gradient(to bottom, rgba(109,188,235,1) 0%,rgba(52,163,228,1) 50%,rgba(13,148,224,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6dbceb', endColorstr='#0d94e0',GradientType=0 );
    cursor: pointer;
    border-radius: 5px;
}

.fas {
    font-size: 25px;
    color: white;
    width: 60px;
    text-align: center;
}

button:hover {
    background-color: white;
    border: solid #36A4E4 .5px;
}

.fas:hover {
    color: #36A4E4;
}

@media(max-width: 750px) {
    .fullInfo_div {
        // border: solid black;
        width: 100%;
    }

    .btn_div {
        margin-top: 50px;
    }
}