.main-div-purchase {
    border: solid black;
    height: 100vh;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: center;
}

.logo-div {
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
    height: 50vh;
    // border: solid red;
}

.fa-check-circle {
    font-size: 55px;
    background-color: white;
    color: rgb(25, 227, 25);
    // border: solid blue;
    position: absolute;
    bottom: -115px;
    animation: slide-in .5s ease;
    animation-fill-mode: forwards;
    opacity: 0;
    display: flex;
}

@keyframes slide-in {
    0% {
        top: 100%;
        opacity: 1;
        // width: 50%
    }

    25% {
        top: 600px;
    }

    50% {
        top: 505px;
        // width: 50%;
    }

    75% {
        top: 450px;
    }

    100% {
        top: 400px;
        opacity: 1;
        // width: 50%;
    }
}