.main-div-purchase {
    border: solid black;
    height: 100vh;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: center;
}

.logo-div {
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
    height: 50vh;
    // border: solid red;
}

.fa-check-circle {
    font-size: 55px;
    background-color: white;
    color: rgb(25, 227, 25);
    // border: solid blue;
    position: absolute;
    bottom: -115px;
    animation: slide-in .5s ease-in;
    animation-fill-mode: forwards;
    opacity: 0;
    display: flex;
}

@keyframes slide-in {
    0% {
        top: 450px;
        opacity: 1;
    }

    5% {
        top: 447px;
    }

    10% {
        top: 444px;
    }

    15% {
        top: 441px;
    }

    20% {
        top: 438px;
    }

    50% {
        top: 435px;
    }

    55% {
        top: 432px;
    }

    65% {
        top: 429px;
    }

    70% {
        top: 426px;
    }

    75% {
        top: 423px;
    }

    80% {
        top: 420px;
    }

    85% {
        top: 417px;
    }

    90% {
        top: 414px;
    }

    95% {
        top: 411px;
    }

    100% {
        top: 408px;
        opacity: 1;
    }
}