ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    // background-color: #333;
    background: rgb(54,164,228);
    background: -moz-linear-gradient(-45deg, rgba(54,164,228,.08) 0%, rgba(31,81,198,.08) 100%, rgba(54,164,228,.08) 100%, rgba(31,81,198,.08) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(54,164,228,.08) 0%,rgba(31,81,198,.08) 100%,rgba(54,164,228,.08) 100%,rgba(31,81,198,.08) 100%);
    background: linear-gradient(135deg, rgba(54,164,228,.8) 0%,rgba(31,81,198,.8) 100%,rgba(54,164,228,.8) 100%,rgba(31,81,198,.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36a4e4', endColorstr='#1f51c6',GradientType=1 );
    // display: flex;
    // justify-content: flex-end;
  }
  
  li {
    float: left;
    span {
      display: inline-block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
  }
  
  .hamy {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li span:hover, .dropdown:hover .hamy {
    // background-color: #36A4E4;
    color: white;
    cursor: pointer;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-decoration: none;
    span {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
      &:hover {
        background-color: #36A4E4;
      }
    }
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .hamy:hover {
    color: white;
    text-decoration: none;
  }

// ul {
//     list-style-type: none;
//     margin: 0;
//     padding: 0;
//     overflow: hidden;
//     background-color: #333;
//   }

//   li {
//     float: left;
//     span {
//       display: inline-block;
//       color: white;
//       text-align: center;
//       padding: 14px 16px;
//       text-decoration: none;
//     }
//   }

// .hamy {
//     display: inline-block;
//     text-align: center;
//     padding: 14px 16px;
//     text-decoration: none;
// }

// li span:hover, .dropdown:hover .hamy {
//     background-color: green;
// }

// li.dropdown {
//     display: inline-block;
// }

// .dropdown-content {
//     display: none;
//     position: absolute;
//     background-color: #f9f9f9;
//     min-width: 160px;
//     box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
//     z-index: 1;
//   span {
//     color: black;
//     padding: 12px 16px;
//     text-decoration: none;
//     display: block;
//     text-align: left;
//     &:hover {
//       background-color: #b11b1b;
//     }
//   }
// }

// .hamy:hover .dropdown-content {
//     display: block;
//     border: solid blue 10px;
// }